.box{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 60px;

}

.longString{
    margin-top: 25%;
}

.item{
    margin-right:10px;
    /*background-color: red;*/
}

.enter{
    font-size: 80px;
}

.text{
    color: aliceblue;
}



#pic{
    margin-left:auto;
    margin-right:30px;
    border-radius: 100px;
    max-width: 200px;
}

body{
    background-color: lightskyblue;
    font-family: "Microsoft YaHei","Arial","黑体","宋体",sans-serif;
}

a{
    text-decoration:none;
}

[submit]{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}